%li
  = link_to artist_grid_item do
    - delay = Random.rand(5).to_f / 10.0
    %div.wow.fadeInUp{ 'data-wow-offset' => '20', 'data-wow-delay' => "#{delay}s" }
      %div.hover
        %p
          - image_url = artist_grid_item.image_url
          - if !image_url.nil?
            = image_tag(artist_grid_item.image_url)
          - else
            = image_tag('default_avatar.jpg')
        %p.text= artist_grid_item
        -#%p= artist_grid_item.role