= simple_form_for(@artist, multipart: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.association :country
    = f.association :city
    = f.association :playlist
    = f.input :avatar, as: :file
    = f.input :description_cs
    = f.input :description, label: 'Description EN'
    = f.input :featured
    = f.input :link_fb
    = f.select(:role, Artist.roles.keys.map {|role| [role.titleize,role]})

  .form-actions
    = f.button :submit
