- content_for :title do
  = @artist.title

%p#notice= notice

- if user_signed_in?
  = link_to 'Edit', edit_artist_path(@artist)
  \|
  = link_to 'Back', artists_path
  \|
  - if @artist.playlist.nil?
    = link_to 'Generate playlist', create_playlist_artist_path(@artist), method: :post
  - else
    = link_to 'Playlist', @artist.playlist

- no_content = @artist.events.empty? && @artist.description.blank? && (@artist.playlist.blank? || @artist.playlist.items.empty?)

.artist
  .row
    .small-12.medium-3.columns
      .row.wow.fadeInUp{ 'data-wow-duration' => "0.8s" }
        = render 'profile'
      .row.wow.fadeInUp{ 'data-wow-delay' => "0.6s" }
        = render 'extra_info'
      .row.wow.fadeInUpBig{ 'data-wow-delay' => "0.6s", 'data-wow-duration' => "1.5s" }
        .artist__releases
          = render partial: 'elements/grid_carousel', object: @artist.credits, locals: { partial: 'credit_grid' }
    .small-12.medium-9.columns
      = render partial: 'events/events', object: @artist.events.upcoming.limit(1), locals: { xcount: 1 }
      .wow.fadeInUp
        - unless @artist.description.blank?
          .artist__description.padded.margin-bottom
            %p
              = @artist.description
        = render partial: 'playlists/playlist_embed', object: @artist.playlist
      = render partial: 'elements/more_content', object: no_content

