= render partial: 'elements/index_yields', object: 'artist.team'

%h1= t 'artist.team.title'
- get_subtitle = lambda { |artist| artist.team_title }
= render partial: 'artist_grid', object: @artists, locals: { get_subtitle: get_subtitle }

.content__description.padded
  %p
    = t 'crew_note', scope: 'artist.team'
    = link_to t('crew_link', scope: 'artist.team'), artists_path(filter: 'bassdrop')