%li
  = link_to link_target.call model_grid_item do
    - if animate
      - delay = Random.rand(5).to_f / 10.0
      .wow.fadeInUp{ 'data-wow-offset' => '20', 'data-wow-delay' => "#{delay}s" }
        = render partial: 'elements/model_grid_item_content', locals: local_assigns
    - else
      .wow.fadeInUp{ 'data-wow-offset' => '20', 'data-wow-duration' => "1ms" }
        = render partial: 'elements/model_grid_item_content', locals: local_assigns
  - if user_admin?
    = link_to 'Edit', "#{model_grid_item.class.to_s.downcase.pluralize}/#{model_grid_item.id}/edit"