- unless @next_event.nil?
  = link_to @next_event do
    .wow.fadeInUp.margin-bottom
      .hover
        %p.titular-text.nospace.important
          = t('next_event', scope: 'home')
          = event_date @next_event
        %p.nospace= image_tag @next_event.cover_url(:medium)
        %p.titular-text.nospace= @next_event