%div#upcoming_events.wow.fadeInUp
  %ul.block-list.nospace
    - upcoming_events.each do |event|
      %li.upcoming-events__event
        = link_to event do
          .row.hover
            .small-4.columns
              = event_date event
            .small-8.columns
              .row
                %strong= event
              - unless event.headliners.empty?
                %ul.upcoming-events__event__artist-list
                  - event.headliners.each do |headliner|
                    %li
                      = link_to headliner do
                        = headliner
                        %span.note-mid= headliner.country.abbreviation
              .row
                = event_time event
  %p.nospace
    %div
      = link_to events_path do
        .small.button.width-fill
          ALL EVENTS