.row
  .small-12.medium-9.columns
    %h1.hello.wow.fadeIn Welcome

    - unless @next_event.nil?
      = link_to @next_event do
        .wow.fadeInUp
          .hover
            %p.text.nospace.important Next Event
            %p.nospace= image_tag @next_event.image_url_cached
            %p.text.nospace= @next_event

  .small-12.medium-3.columns
    %h3.wow.fadeIn
      Upcoming
    %ul.block-list.wow.fadeInUp
      - @upcoming_events.each do |event|
        %li
          .row
            .small-3.columns
              DATE
            .small-9.columns
              = event
      %li
        .row
          .small-3.columns
          .small-9.columns
            = link_to events_path do
              .small.button.width-fill
                All events!

    -#%p
    -#  = link_to 'Users:', users_path
    -#  = User.count
    -#  registered
