%h1.hello.wow.fadeIn= welcome_text
.row
  .small-12.medium-9.columns.margin-bottom
    = render partial: 'elements/next_event', object: @next_event
    = render partial: 'stories/stories', object: @stories, locals: { xcount: 3 }
    - if @more_stories
      = link_to 'All stories', stories_path, class: %w(button small width-fill)

  .small-12.medium-3.columns
    .row
      .small-12.columns
        = render partial: 'upcoming_events', object: @upcoming_events

        .grid-carousel
          .margin-top.social-links
            = render partial: 'elements/social_links', object: page_social_links
            .social-links__title.wow.fadeIn{ 'data-wow-delay' => '1.5s' }
              BASS DROP
          .margin-top.social-links
            = render partial: 'elements/social_links', object: records_social_links
            .social-links__title.wow.fadeIn{ 'data-wow-delay' => '1.5s' }
              BASS DROP RECORDS

= link_to 'Google+', 'https://plus.google.com/117183941871343477728', rel: 'publisher', style: 'display: none;'