.row
  .small-12.columns
    %h1.hello.wow.fadeIn= welcome_text
.row
  .small-12.medium-9.columns.margin-bottom
    - unless @next_event.nil?
      = link_to @next_event do
        .wow.fadeInUp
          .hover
            %p.text.nospace.important
              Next Event -
              = event_date @next_event
            %p.nospace= image_tag @next_event.image_url_cached
            %p.text.nospace= @next_event

  .small-12.medium-3.columns
    .row
      .small-12.columns
        = render partial: 'upcoming_events', object: @upcoming_events
        %p.margin-top
          = render partial: 'elements/social_links', object: page_social_links
.row
  .small-12.medium-3.columns.right
    %p.footer
      ©2015 BASS DROP
      %br
      %span.important
        Website in beta

    -#%p
    -#  = link_to 'Users:', users_path
    -#  = User.count
    -#  registered
