-# Artist overview for event

- unless @event.artists.empty?
  = render partial: 'artists/artist_grid', locals: {artists: @event.headliners, xcount: 1}
  = render partial: 'artists/artist_grid', locals: {artists: @event.non_headliners, xcount: 2}

  -# Performances write out (Line up)
  - unless @event.stages.empty?
    %h2 Lineup

    - @event.stages.each do |stage|
      %h3= stage
      %table
        - @event.stage_lineup(stage).each do |performance|
          %tr
            %td= lineup_from_to(performance.date_start, performance.date_end)
            %td
              - if(performance.is_headliner?)
                %b= performance.artist
              - else
                = performance.artist