%table
  %thead
    %tr
      %th Title
      -#%th Venue
      %th Date
      %th Preorder url
      - if user_signed_in?
        %th
        %th

  %tbody
    - events.each do |event|
      %tr
        %td= link_to event.title, event
        -#%td= event.venue
        %td= event_date event
        %td= event.preorder_url
        - if user_signed_in?
          - if policy(event).edit?
            %td= link_to 'Edit', edit_event_path(event)
          - if policy(event).destroy?
            %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }