- unless defined? xcount
  - xcount = 2
- classes = ['small-block-grid-1', "medium-block-grid-#{xcount}"]
- image_style = xcount > 1 ? :small : :large

%ul{ class: classes }
  - events.each do |event|
  - classes = event.published? ? '' : 'hidden'
    %li{ class: classes }
      = link_to event do\
        - delay = Random.rand(5).to_f / 10.0
        .wow.fadeInUp{ 'data-wow-offset' => '20', 'data-wow-delay' => "#{delay}s" }
          .hover.with-stick
            .row.collapse.event.date
              .small-6.medium-4.columns.end
                %p.titular-text.nospace.important
                  = event_date event
            .row.collapse
              %p.nospace
                = image_tag event.cover_url(image_style), title: event
            .row.collapse
              %p.titular-text.nospace.stick-to-bottom
                = event
      - if user_admin?
        - if event.published?
          = link_to 'Hide', hide_event_path(event), method: :post, class: %w(button width-fill)
        - else
          = link_to 'Publish', publish_event_path(event), method: :post, class: %w(button width-fill)