= simple_form_for(@event, multipart: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.association :venue
    = f.association :playlist
    = f.input :date_start
    = f.input :date_end
    = f.input :preorder_url
    = f.input :cover, as: :file
    = f.input :published
    = f.input :automatic_updates
    = f.input :description

  .form-actions
    = f.button :submit
