= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.association :venue
    = f.association :playlist
    = f.input :date_start
    = f.input :date_end
    = f.input :preorder_url
    = f.input :published
    = f.input :automatic_updates

  .form-actions
    = f.button :submit
