%p#notice= notice

%h1
  = @event.title

%p
  %b Venue:
  = @event.venue
%p
  %b Date start:
  = @event.date_start
%p
  %b Date end:
  = @event.date_end
%p
  %b Preorder url:
  = @event.preorder_url

-# Artists write out

%h2 Artists
%p
  - @event.headliners.each do |artist|
    %b= artist
  - @event.non_headliners.each do |artist|
    =artist

-# Performances write out (Line up)

%h2 Lineup

%table
  %thead
    %tr
      %th Artist
      %th Stage
      %th Start
      %th End

  %tbody
    - @event.performances.each do |performance|
      %tr
        %td
          - if(performance.is_headliner?)
            %b= performance.artist
          - else
            = performance.artist
        %td= performance.stage
        %td= performance.date_start
        %td= performance.date_end

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
