%p#notice= notice

= image_tag(@event.image_url_cached, alt: @event)

%h1
  = @event.title
.row
  .small-12.medium-4.columns
    %p.text.important
      = event_date @event
  .small-12.medium-4.columns
    %p.text.important
      = event_time @event
  .small-12.medium-4.columns
    %p.text.important.facebook

%p
  %b Venue:
  = @event.venue
%p
  %b Preorder url:
  = @event.preorder_url
.event.description.padded
  = simple_format(@event.description)

-# Artists write out

- unless @event.artists.empty?
  %h2 Artists

  = render partial: 'artists/artist_grid', locals: {artists: @event.headliners}
  = render partial: 'artists/artist_grid', locals: {artists: @event.non_headliners, small: true}

-# Performances write out (Line up)
- unless @event.stages.empty?
  %h2 Lineup

  - @event.stages.each do |stage|
    %h3= stage
    %table
      - @event.stage_lineup(stage).each do |performance|
        %tr
          %td= lineup_from_to(performance.date_start, performance.date_end)
          %td
            - if(performance.is_headliner?)
              %b= performance.artist
            - else
              = performance.artist

- if user_signed_in?
  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path
