- content_for :title do
  = @event.title

%p#notice= notice

- if user_signed_in?
  = link_to 'Add performance', new_event_performance_path(@event)
  \|
  = link_to 'Show performances', event_performances_path(@event)
  \|
  = link_to 'Edit', edit_event_path(@event)
  \|
  - if @event.playlist.nil?
    = link_to 'Generate playlist', create_playlist_event_path(@event), method: :post
  - else
    = link_to 'Playlist', @event.playlist
  \|
  = link_to 'Back', events_path

.row.wow.fadeInUp{ 'data-wow-duration' => "0.8s" }
  = image_tag(@event.cover_url(:large), alt: @event)

%h1.row.wow.fadeInUp{ 'data-wow-delay' => "0.3s" }
  = @event.title
.no-side-padding
  .row
    .small-12.medium-4.columns.wow.fadeIn{ 'data-wow-delay' => "0.7s" }
      %p.titular-text.important.event__quickinfo
        = event_date @event
    .small-12.medium-4.columns.wow.fadeIn{ 'data-wow-delay' => "1.0s" }
      %p.titular-text.inverted.event__quickinfo
        = event_time @event
    .small-12.medium-4.columns.margin-bottom.wow.fadeIn{ 'data-wow-delay' => "1.3s" }
      = link_to fb_link(@event.link_fb), target: :blank do
        .hover
          %p.titular-text.facebook.event__quickinfo

  .event.content.wow.fadeIn{ 'data-wow-delay' => "1.8s" }
    - unless @event.preorder_url.nil? || @event.preorder_url.empty?
      %p
        %b Preorder:
        = link_to @event.preorder_url

    .row
      .small-12.medium-8.columns
        - unless @event.venue.nil?
          .event__description__top.padded.margin-bottom
            %p.event__description__top__venue
              At
              = link_to(@event.venue)
            %p.event__description__top__attending
              = @event.attending_count
              = (in_future? @event.date_start + 12.hours) ? 'Going' : 'Went'
        = render partial: 'playlists/playlist_embed', object: @event.playlist
        .event__description__bottom.padded
          = desc_format(@event.description)

      .small-12.medium-4.columns
        = render 'artists_lineup'
