= render partial: 'elements/model_yields', object: @event

%p#notice= notice

- if user_admin?
  = link_to 'Add performance', new_event_performance_path(@event), class: 'button'
  = link_to 'Show performances', event_performances_path(@event), class: 'button'
  = link_to 'Edit', edit_event_path(@event), class: 'button'
  - if @event.playlist.nil?
    = link_to 'Generate playlist', create_playlist_event_path(@event), method: :post, class: 'button'
  - else
    = link_to 'Playlist', @event.playlist, class: 'button'
  = link_to 'Back', events_path, class: 'button'

.row.wow.fadeInUp{ 'data-wow-duration' => "0.8s" }
  = image_tag(@event.cover_url(:large), alt: @event)

%h1.row.wow.fadeInUp{ 'data-wow-delay' => "0.3s" }
  = @event.title
.no-side-padding
  .row
    .small-12.medium-4.columns.wow.fadeIn{ 'data-wow-delay' => "0.7s" }
      %p.titular-text.important.event__quickinfo
        = event_date @event
    .small-12.medium-4.columns.wow.fadeIn{ 'data-wow-delay' => "1.0s" }
      %p.titular-text.inverted.event__quickinfo
        = event_time @event
    .small-12.medium-4.columns.margin-bottom.wow.fadeIn{ 'data-wow-delay' => "1.3s" }
      = link_to fb_link(@event.link_fb), target: :blank do
        .hover
          %p.titular-text.facebook.event__quickinfo

  - has_artists = !@event.artists.empty?
  - description_class = has_artists ? 'medium-8' : ''

  .event.content.wow.fadeIn{ 'data-wow-delay' => "1.8s" }
    .row
      .small-12.columns{ class: description_class }
        - unless @event.preorder_url.blank?
          .content__description__top.padded.margin-bottom
            %p.content__description__top__preorder
              = link_to @event.preorder_url do
                = t 'presale', scope: 'event', presale: (url_second_level @event.preorder_url)
        - unless @event.venue.nil?
          .content__description__top.padded.margin-bottom
            %p.content__description__top__venue
              - venue_text = t 'venue_info', scope: 'event', venue: @event.venue.title
              - unless @event.venue.url.blank?
                = link_to venue_text, @event.venue.url, target: :blank
              - else
                = venue_text
            %p.content__description__top__attending
              - unless @event.attending_count.blank?
                - attendance_title = (in_future? @event.date_start + 12.hours) ? 'attendance_future' : 'attendance_past'
                = t attendance_title, scope: 'event', count: @event.attending_count
        = render partial: 'playlists/playlist_embed', object: @event.playlist, locals: { show_release: true }
        .content__description__bottom.padded.margin-bottom
          = desc_format(@event.description, @event.markdown_enabled)
        = render partial: 'stories/stories', object: @event.stories, locals: { show_image: false }

      - if has_artists
        .small-12.medium-4.columns
          = render 'artists_lineup'
