%h1
  BASS DROP

.content__description.padded
  %p
    BASS DROP is a fresh event brand under the wings of
    = link_to 'URBAN EVENTS', 'http://www.urbanevents.cz'
    production.
  %p
    Focusing on event promotion in the Czech republic and Central Europe since 2013.
    It is an organization consisting of promoters, graphic designers, Djs and producers focusing on electronic music.
  %p
    More about
    = link_to 'The Team.', team_path
  %p
    Our staple event is, you guessed it, BASS DROP. A three-floor monthly bass-oriented multi-genre residential party at Chapeau Rouge Prague.
    On top of that we co-produce festivals such as Winter Arena, Summer Warm Up and Wake Arena.
    We've also organized one of the stages at Let it Roll 2014.
  %p
    If you're interested in what's coming up next and what we've done so far, check out the
    = link_to 'Events', events_path
    page.
%h1
  BASS DROP Crew

.content__description.padded
  %p
    BASS DROP Crew is a group of skilled Djs and producers, each with their own style, with focus on bass music -
    especially Drum and Bass, Dubstep, Techno, Deep House, Minimal House, Glitch Hop and Trap.

  %p
    The BASS DROP crew members have played on countless events including festivals such as Winter Arena, Let it Roll,
    Mighty Sounds and more. We are honored that during these events we supported acts like Noisia, Foreign Beggars, Borgore
    Bassnectar, Datsik and more.
    = link_to 'See all supported acts.', artists_path(filter: 'supported')

  %p
    Would you like to find out more about each of the members?
    = link_to 'Check them out!', artists_path(filter: 'bassdrop')

%h1
  BASS DROP RECORDS Label

.content__description.padded
  %p
    An integral part of BASS DROP, the BDR record label is keeping up with the open minded spirit of BASS DROP.
  %p
    Continually releasing music from various genres, promoting talented newcomers while paying respects to the
    well estabilished names.
  %p
    = link_to 'See artists releasing under BASS DROP RECORDS.', artists_path(filter: 'records')
    Or the
    = link_to 'releases themselves.', records_path
  %p
    We also release regular podcasts and set videos.
    = link_to 'See that.', sets_path