%h1
  BASS DROP

.content__description.padded
  %p
    BASS DROP je fresh event brand pod křídly produkce
    = link_to 'URBAN EVENTS.', 'http://www.urbanevents.cz'
  %p
    Zaměřujeme se na organizaci akcí v České republice a střední Evropě od roku 2013.
    Jsme skupina promotérů, grafiků, Djů a producentů, kteří se zaměřují na elektronickou hudbu.
  %p
    Více o
    = link_to 'Týmu.', team_path
  %p
    Naše stěžejní akce je, nečekaně, BASS DROP. Třípatrová noc plná bass music, která probíhá každý měsíc v klubu Chapeau Rouge.
    K tomu spoluorganizujeme festivaly jako je Winter Arena, Summer Warm Up nebo třeba Wake Arena.
    Mimo to jsme také zřizovali jednu ze stagí na Let it Rollu 2014 a už se připravujeme na další ročník.
  %p
    Pokud tě zajímá, co tě čeká nebo historie našich akcí, tak zavítej do sekce
    = link_to 'Události.', events_path
%h1
  BASS DROP Crew

.content__description.padded
  %p
    BASS DROP Crew je skupina ostřílených a různorodých Djů a producentů zaměřených na bass music -
    především na Drum and Bass, Dubstep, Techno, Deep House, Minimal House, Glitch Hop a Trap.
  %p
    Členové BASS DROP Crew hráli už na nespočtu událostí včetně festivalů jako je Winter Arena, Let it Roll, Mighty Sounds,
    Rock for People a dalších.
    Je nám ctí, že jsme během těchto akcí mohli podpořit projekty jako je Noisia, Foreign Beggars, Borgore, Bassnectar,
    Modestep, Datsik a
    = link_to 'další.', artists_path(filter: 'supported')

  %p
    = link_to 'Dozvi se víc ', artists_path(filter: 'bassdrop')
    o jednotlivých členech BASS DROP Crew.

%h1
  BASS DROP RECORDS Label

.content__description.padded
  %p
    BASS DROP RECORDS je nedílnou součástí BASS DROPu.
    Tenhle label následuje ústřední filozofii BASS DROPu.
    To znamená nedržet se stereotypů, zbytečně neškatulkovat a jít po všem co je dobré a má dostatek basů.
  %p
    Label tak neustále vydává hudbu různých žánrů a při tom propaguje talentované nováčky, ale i vzdává
    hold už zajetým jménům.
  %p
    = link_to 'Podívej se na umělce, kteří vydávají pod BASS DROP RECORDS.', artists_path(filter: 'records')
    Nebo
    = link_to 'samotné releasy.', records_path
  %p
    BDR také pravidelně připravuje podcasty a video sety.
    = link_to 'Podívej se na ně zde.', sets_path