= simple_form_for(@story, multipart: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, label: 'Text'
    .help.content__description
      %p
        To embed an image use
        %b ![title](imagename)
      %p
        Use markdown for styling.
        = link_to 'Cheat sheet here.', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
      %p
        = link_to 'Image gallery', images_path, target: :blank
    = f.input :avatar, as: :file
    = f.association :release
    = f.association :artist
    = f.association :event
    = f.association :playlist
    - if user_admin?
      = f.association :author
    = f.input :published_at, include_blank: true
    = f.input :published

  .form-actions
    = f.button :submit
