= simple_form_for(@story) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, label: 'Text'
    .help.content__description
      %p
        To embed an image use
        %b ![title](imagename|style)
      %p
        Style can be thumb, small, medium, big, square-small, square-medium, square-big or left empty for original
      %p
        = link_to 'Image gallery', images_path, target: :blank
    = f.association :release
    = f.association :artist
    = f.association :event
    = f.association :playlist
    = f.association :author
    = f.input :published_at, include_blank: true
    = f.input :published

  .form-actions
    = f.button :submit
