= simple_form_for(@story, multipart: true) do |f|
  = f.error_notification

  .form-inputs
    .help.content__description
      %p
        To embed an image use
        %b ![title](imagename)
      %p
        Use markdown for styling.
        = link_to 'Cheat sheet here.', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
      %p
        = link_to 'Image gallery', images_path, target: :blank
    %ul.accordion{ data: { accordion: true } }
      %li.accordion-navigation
        = link_to 'CS', '#panel_cs'
        #panel_cs.content.active
          = f.input :title_cs, label: 'Title'
          = f.input :description_cs, label: 'Text'
      %li.accordion-navigation
        = link_to 'EN', '#panel_en'
        #panel_en.content
          = f.input :title, label: 'Title'
          = f.input :description, label: 'Text'

    %h2 Other
    = f.input :avatar, as: :file
    = f.association :release
    = f.association :artist
    = f.association :event
    = f.association :playlist
    - if user_admin?
      = f.association :author
    = f.input :published_at, include_blank: true
    = f.input :published

  .form-actions
    = f.button :submit
