- if user_admin?
  = link_to 'Edit', edit_story_path(@story), class: 'button'
  = link_to 'Back', releases_path, class: 'button'
  - if @story.playlist.nil?
    = link_to 'Generate playlist', create_playlist_release_path(@story), method: :post, class: 'button'
  - else
    = link_to 'Playlist', @story.playlist, class: 'button'
  - unless @story.published?
    = link_to 'Publish', publish_story_path(@story), class: 'button', method: :post
  - else
    = link_to 'Hide', hide_story_path(@story), class: 'button', method: :post