= render partial: 'elements/index_yields', object: 'story'

- if policy(@stories).new?
  = link_to 'New', new_story_path, class: %w(button width-fill)

- unless @hidden.empty?
  %h1 Not published
  .underline
    = render partial: 'stories', object: @hidden, locals: { xcount: 4 }
  %h1 Published

.infinite-container
  .infinite-item
    = render partial: 'stories', object: @stories, locals: { xcount: 4 }

- unless @last_page
  = render partial: 'elements/more_link', object: page_stories_path(page: @page + 1)


