- content_for :title do
  = t 'story.title'

- if user_admin?
  = link_to 'New', new_story_path, class: %w(button width-fill)

.infinite-container
  .infinite-item
    = render partial: 'stories', object: @stories, locals: { xcount: 4 }

- unless @last_page
  = render partial: 'elements/more_link', object: stories_path + "/#{@page + 1}"


