= render partial: 'elements/model_yields', object: @story
- unless @story.author.blank?
  - content_for :author do
    = @story.author.link_fb

%p#notice= notice

= render 'show_menu'
- unless @story.published?
  %p NOT PUBLISHED

.release
  .row
    %h1= @story.title
    .small-12.medium-9.columns
      - unless @story.playlist.blank?
        .wow.fadeInUp.margin-bottom
          = render partial: 'playlists/playlist_embed', object: @story.playlist
      - unless @story.event.blank?
        = render partial: 'events/events', object: [ @story.event ], locals: { xcount: 1 }
      .wow.fadeIn{ 'data-wow-delay' => '0.8s' }
        - unless @story.description.blank?
          .content__description.padded.margin-bottom
            %p
              = desc_format @story.description
        .row.wow.fadeIn
          .small-6.columns.halfpadding-right
            - unless @story.prev.blank?
              .story-overview__item__nav= t 'story.previous'
              = render partial: 'story', object: @story.prev
          .small-6.columns.halfpadding-left
            - unless @story.next.blank?
              .story-overview__item__nav= t 'story.next'
              = render partial: 'story', object: @story.next
        = render partial: 'elements/more_content', object: false

    .small-12.medium-3.columns
      .row.wow.fadeInUp{ 'data-wow-duration' => "0.8s" }
        = render 'profile'
      .row.wow.fadeInUp{ 'data-wow-delay' => "0.6s" }
        = render 'extra_info'