= simple_form_for(@medium) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :url
    = f.input :description
    = f.association :release

  .form-actions
    = f.button :submit
