%p#notice= notice

%p
  %b Title:
  = @medium.title
%p
  %b Url:
  = @medium.url
%p
  %b Description:
  = @medium.description

= link_to 'Edit', edit_medium_path(@medium)
\|
= link_to 'Back', media_path
