= simple_form_for(@release, multipart: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :rel_code
    = f.input :get_url
    = f.input :get_text
    = f.input :release_date
    = f.input :release_type, collection: Release.release_types.keys.map {|rel_type| [rel_type.titleize,rel_type]}
    = f.association :playlist
    = f.input :description_cs
    = f.input :description, label: 'Description EN'
    = f.input :avatar, as: :file

  .form-actions
    = f.button :submit
