= render partial: 'elements/index_yields', object: 'release.sets'

- if policy(@sets_video).new?
  = link_to 'New', new_release_path, class: %w(button width-fill)

%h1= t 'video', scope: 'release.sets'
%p= render partial: 'release_grid', object: @sets_video
%h1= t 'audio', scope: 'release.sets'
%p= render partial: 'release_grid', object: @sets_audio