= render partial: 'elements/model_yields', object: @release

%p#notice= notice

= render 'show_menu'

- no_content = @release.description.blank? && @release.playlist.blank?

.release
  .row
    .small-12.medium-3.columns
      .row.wow.fadeInUp{ 'data-wow-duration' => "0.8s" }
        = render 'profile'
      .row.wow.fadeInUp{ 'data-wow-delay' => "0.6s" }
        = render 'extra_info'
      - unless @release.credits.empty?
        .row.wow.fadeInUpBig{ 'data-wow-delay' => "0.6s", 'data-wow-duration' => "1.5s" }
          .release__credits
            = render partial: 'elements/grid_carousel', object: @release.credits, locals: { partial: 'credit_grid' }
    .small-12.medium-9.columns
      - unless @release.playlist.blank?
        .wow.fadeInUp.margin-bottom
          = render partial: 'playlists/playlist_embed', object: @release.playlist
      .wow.fadeIn{ 'data-wow-delay' => "1s" }
        - unless @release.description.blank?
          .content__description.padded.margin-bottom
            %p
              = desc_format @release.description
        = render partial: 'stories/stories', object: @release.stories, locals: { show_image: false }
        .row.wow.fadeIn
          .small-6.columns.halfpadding-right
            - unless @release.prev.blank?
              .story-overview__item__nav= t 'previous', scope: "release.#{@release.release_type}"
              = render partial: 'release_grid', object: [@release.prev], locals: { xcount: 1 }
          .small-6.columns.halfpadding-left
            - unless @release.next.blank?
              .story-overview__item__nav= t 'next', scope: "release.#{@release.release_type}"
              = render partial: 'release_grid', object: [@release.next], locals: { xcount: 1 }
        = render partial: 'elements/more_content', object: no_content
