= render partial: 'elements/index_yields', object: 'release.videos'

- if policy(@videos).new?
  = link_to 'New', new_release_path, class: %w(button width-fill)

%h1= t 'aftermovies', scope: 'release.videos'
%p= render partial: 'release_grid', object: @aftermovies
%h1= t 'trailers', scope: 'release.videos'
%p= render partial: 'release_grid', object: @trailers