%p#notice= notice

%p
  %b Title:
  = @playlist.title

= render partial: 'playlists/playlist_embed', object: @playlist

= link_to 'Edit', edit_playlist_path(@playlist)
\|
= link_to 'Back', playlists_path
