= simple_form_for(@performance) do |f|
  = f.error_notification

  .form-inputs
    -#= f.association :event
    = f.association :artist
    = f.association :stage, collection: @stages
    = f.association :b2b, collection: @other_performances
    = f.input :date_start, include_blank: true
    = f.input :date_end, include_blank: true
    = f.input :is_headliner

  .form-actions
    = f.button :submit
