= simple_form_for [@event, @performance] do |f|
  = f.error_notification

  .form-inputs
    = f.association :artist
    = f.association :stage
    = f.input :is_headliner

  .form-actions
    = f.button :submit
