%h2 Performances
%p
  for
  = link_to @event, @event

%table
  %thead
    %tr
      %th Artist
      %th B2B
      %th Stage
      %th Date start
      %th Date end
      %th
      %th
      %th
      %th

  %tbody
    - @performances.each do |performance|
      %tr
        %td
          - if performance.is_headliner?
            %strong
              = performance.artist
          - else
            = performance.artist
        %td= performance.b2b
        %td= performance.stage
        %td= performance.date_start
        %td= performance.date_end
        %td= link_to 'Show', performance
        %td= link_to 'Edit', edit_performance_path(performance)
        %td= link_to 'Edit w/ time', edit_performance_path(performance, { set_date: true })
        %td= link_to 'Destroy', performance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Performance', new_event_performance_path(@event)
\|
= link_to 'Back', @event
