%h1= @event
%h2 Performances

%table
  %thead
    %tr
      %th Artist
      %th Stage
      %th Date start
      %th Date end
      %th Headliner flag
      %th
      %th
      %th
      
  %tbody
    - @performances.each do |performance|
      %tr
        %td= performance.artist
        %td= performance.stage
        %td= performance.date_start
        %td= performance.date_end
        %td= performance.is_headliner?
        %td= link_to 'Show', performance
        %td= link_to 'Edit', edit_performance_path(performance)
        %td= link_to 'Destroy', performance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Performance', new_event_performance_path(@event)
\|
= link_to 'Back', @event
