-# add navigation links to this file

- unless I18n.locale.eql? :en
  %li{ class: 'active' }
    = link_to 'EN', locale_path(locale: :en)
- unless I18n.locale.eql? :cs
  %li{ class: 'active' }
    = link_to 'CS', locale_path(locale: :cs)

%li{ class: [active('visitors'), 'show-for-medium-up'] }= link_to 'BASS DROP', root_path
%li{ class: active('events') }= link_to (t 'event.title'), events_path
-#%li{ class: active('venues') }= link_to 'Venues', venues_path
%li{ class: active('artists') }= link_to (t 'artist.title'), artists_path
%li{ class: active('releases', 'sets') }= link_to (t 'release.sets.title'), sets_path
%li{ class: active('releases', 'records') }= link_to (t 'release.records.title'), records_path
%li{ class: active('videos', 'records') }= link_to (t 'release.videos.title'), videos_path
%li{ class: active('stories') }= link_to (t 'story.title'), stories_path

- if user_signed_in?
  %li= link_to 'Edit account', edit_user_registration_path
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
-#- else
-#  %li= link_to 'Sign in', new_user_session_path
-#  %li= link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  - if current_user.admin?
    %li= link_to 'Admin', '/admin'
    %li= link_to 'Users', users_path