- hour = Time.now.hour
- is_night = hour < 7 || hour >= 19
- body_classes = is_night ? ['night'] : []

!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      BASS DROP
      = "| #{yield(:title)}" if content_for?(:title)
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : t('bassdrop.description')}"}
    = render 'layouts/meta_fb'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    - if Rails.env.development? || Rails.env.test?
      = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700'
    - else
      = stylesheet_link_tag '//cloud.typography.com/7158712/649626/css/fonts.css'
    = stylesheet_link_tag 'animate.css'
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: body_classes }
    %header
      = render 'layouts/navigation'
    %main{role: 'main', class: body_classes}
      = render 'layouts/messages'
      .row
        .small-12.small-centered.columns.content-margin
          = yield
      = render 'layouts/footer'

    :javascript
      new WOW().init();

      $('.grid-carousel').slick({
        autoplay: true,
        arrows: false,
        dots: true,
        autoplaySpeed: 4000
      });

      // Put stuff here because application.js wasn't always called :(
      $(document).foundation();

      // Autoload playlists
      var plist_link = $('#playlist_link')
      if (plist_link.length > 0) {
        $.getScript(plist_link.attr('href'))
      }

      var avatar_links = $('.avatar-carousel');
      if (avatar_links.length > 0) {
        avatar_links.each(function(index) {
          $.getScript($(this).attr('data-avatars-src'));
        })
      }

      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: '110%'
      });
